.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% de la altura de la ventana */
  }
  
  .form {
    max-width: 400px; /* Opcional: Define un ancho máximo para el formulario */
    width: 100%;
  }
  